.index-content{
  margin-top: 50px;
}

.customer-messages{
  width: 100%;
  border: 1px solid black;
}

.index{

}

.t-{
  &avatar img{
    width: 30px;
    display: block;
    border-radius: 50%;
    
  }
}