/*
Error: File to import not found or unreadable: _pages/common.scss.
        on line 297 of main.scss

292: 
293: 
294: 	/* ------------
295: 		Pages
296: 	------------ *\/
297: 		@import '_pages/common.scss';
298: 		@import '_pages/index.scss';
299: 		@import '_pages/about.scss';
300: 		@import '_pages/contact.scss';
301: 
302: /* =============================================================================

Backtrace:
main.scss:297
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:45:in `import'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/plugin.rb:109:in `method_missing'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/gems/sass-3.5.6/bin/sass:13:in `<top (required)>'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/bin/sass:23:in `load'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/bin/sass:23:in `<main>'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/Users/prashantsani/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: _pages/common.scss.\A         on line 297 of main.scss\A \A 292: \A 293: \A 294: 	/* ------------\A 295: 		Pages\A 296: 	------------ */\A 297: 		@import '_pages/common.scss';\A 298: 		@import '_pages/index.scss';\A 299: 		@import '_pages/about.scss';\A 300: 		@import '_pages/contact.scss';\A 301: \A 302: /* ============================================================================="; }
